text {
    font-family: Arial;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.buttonShape {
    fill: transparent;
    stroke: grey;
    stroke-width: .5;
}

.buttonContent {
    fill: none;
    stroke: grey;
    stroke-width: 1.5;
}

svg {
    height: 100%;
    width: 100%;
    display: block;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}
